/*
Joseph P. Pasaoa
Console Css | React Cats & Dogs Fake Server Lab
*/


form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  
  width: auto;
  padding: 11px;
}

.form-quant-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  transition: opacity 0.3s;
}

.btn-get {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 30px;
  margin-top: 11px;
  border-radius: 15px;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
  box-shadow: 0px 1px 5px #ccc;
  outline: none;
}

.btn-get:active {
  top: 1px;
  box-shadow: 0px 0px 1px #777;  
}

label {
  margin: 2px 11px 0 0;
}

input[type="number"] {
  width: 40px;
  height: 20px;
  padding: 2px 6px;
  border-radius: 6px;
}