/*
Joseph P. Pasaoa
ImageSpot CSS Styling | React Cats & Dogs Fake Server Lab
*/


.imagespot-bg-method {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
