/*
Joseph P. Pasaoa
NavBar Component Styling | Joseph's Random Cat-Dog Image Fetcher
*/


nav {
  grid-row: span 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
}
