/*
Joseph P. Pasaoa
Stage Component Styling | React Cats & Dogs Fake Server Lab
*/


div#stage {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  overflow-y: scroll;
}
