/*
Joseph P. Pasaoa
APP CSS MAIN Styling | React Cats & Dogs Fake Server Lab
*/


/* FONT INITS
@font-face {
  font-family: 'Cabin';
  src: url('./assets/fonts/Cabin/Cabin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Maven Pro';
  src: url('./assets/fonts/Maven_Pro/static/MavenPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
*/


/* MAIN STYLE */
html, body, div#root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 140px 220px auto;
  grid-template-rows: 1fr;
}
